*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(206, 179, 57),rgb(36, 35, 32));

}
#logobox{
    width: 40%;
    height: 100%;
    float: right;    
}
#h1header{
float: left;
line-height: 100px;
padding: 0 15px;
}
#logo{
    height: 100% ;
    border-radius: 50%;

}

header a{
    color: rgb(216, 195, 195);
}
nav{
    width: 70%;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
display: inline-block;
}
nav li{
    display: inline-block;
    line-height: 100px;
width: 150px;

text-align: center;
}
nav a:hover{
    background-color: aliceblue;
    color: #000;
    height: 100%;
    width: 100%;
}
main{
    
    width: 100%;
    height: 450px;
    background-color: rgb(26, 23, 23);
    border-top: 3px solid white;
 animation-name:  alyas; 
 animation-direction: 10s;  
 animation-iteration-count: infinite;
}
aside{
    width: 30%;
    height: 100%;
    background-color: rgb(26, 23, 23);
    text-align: center;
    float: left;
}
aside img{
    width: 100%;
}
#audio{
    float: e
}
#h1aside{
    padding: 20px 0;
    border-bottom: 2px solid rgb(230, 221, 221);
    color: rgb(160, 134, 20);
}
article{
    width: 70%;
    float: right;
    
    height: 450px;
    position: relative;
}
#box{
    text-align: center;
    width: 400px;
    background-color: rgb(194, 136, 30);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 180px;
    position: absolute;
    padding: 15px;
}
#box h1{
     border-bottom: 3px solid rgb(241, 232, 232);
     padding: 15px 0;
}
#box p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    float: right;
    color: #000;
}
#contact-box{
width: 100%;
display: flex;
justify-content: center;
margin-top: 15px;
background-image: linear-gradient(to right,rgb(206, 179, 57),rgb(36, 35, 32));


}
#contact-box img{
     width: 40px;
     border-bottom: 2px double rgb(43, 25, 25);
     padding-bottom: 20px;
    
}
#contact-box img:hover{
    width: 55px;
    border-bottom: 2px solid rgb(119, 44, 44);
}
#contact-boxa{

    
width: 1364px;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    background-image: linear-gradient(to right,rgb(206, 179, 57),rgb(22, 21, 17));
    background: rgb(187, 132, 22);

}
#hla{
 width: 50%;
 height: 100px;
 display: flex;
 justify-content: center;
 margin-top: 1px;
 background-image: linear-gradient(to right,rgb(206, 179, 57),rgb(175, 148, 67));
 background: rgb(204, 146, 10)

}
footer{
    width: 30%;
    height: 100%;
    background-color: rgb(26, 23, 23);
    text-align: center;
    float: left;

    margin-top: 2px;
    width: 1365px;
    height: 100px;
justify-content: center;
 {
    
}
    

}
footer img{
    width: 100%;
}

    

}
#hf{
    color: rgb(202, 190, 190);
}
#contact-boxa img:{
    width: 0;}

   

@keyframes alyas{
    0%{
        background-color: rgb(158, 119, 13);
    }
    50%{
        background-color: rgb(59, 56, 12);
    }
    100%{
        background-color: rgb(12, 12, 3);
    }

} 

@media only screem and(min-width:940px) and (max-width:1070px){
    #logobox(
        
        width: 35%
        width: 100%;
        width: 50%;
        width: 70%;
        width: 80%;
    )
}




